<fieldset>

  <p>sidebar works!</p>
  {{Username}}

  <button (click)="handleClick()">Click me</button>
</fieldset>

<fieldset>

  <p>sidebar works!</p>
  {{Username}}

  <button (click)="handleClick()">Click me</button>
</fieldset>



<fieldset>

  <p>sidebar works!</p>
  {{Username}}

  <button (click)="handleClick()">Click me</button>
</fieldset>
<fieldset>

  <p>sidebar works!</p>
  {{Username}}

  <button (click)="handleClick()">Click me</button>
</fieldset>
<fieldset>

  <p>sidebar works!</p>
  {{Username}}

  <button (click)="handleClick()">Click me</button>
</fieldset>
<fieldset>

  <p>sidebar works!</p>
  {{Username}}

  <button (click)="handleClick()">Click me</button>
</fieldset>
<fieldset>

  <p>sidebar works!</p>
  {{Username}}

  <button (click)="handleClick()">Click me</button>
</fieldset>
<fieldset>

  <p>sidebar works!</p>
  {{Username}}

  <button (click)="handleClick()">Click me</button>
</fieldset>
<fieldset>

  <p>sidebar works!</p>
  {{Username}}

  <button (click)="handleClick()">Click me</button>
</fieldset>
<fieldset>

  <p>sidebar works!</p>
  {{Username}}

  <button (click)="handleClick()">Click me</button>
</fieldset>
<fieldset>

  <p>sidebar works!</p>
  {{Username}}

  <button (click)="handleClick()">Click me</button>
</fieldset>
<fieldset>

  <p>sidebar works!</p>
  {{Username}}

  <button (click)="handleClick()">Click me</button>
</fieldset>
